Options +FollowSymlinks
RewriteEngine On
RewriteBase /web/inkpoll_web/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^accounts/verify/(.*) server/register.php?verifyaccount=$1 [QSA,L,END]
RewriteRule ^accounts/reset/(.*) server/resetpswd.php?resetaccount=$1 [QSA,L,END]
RewriteRule ^accounts/register server/completeregistration.php [L,END]
RewriteRule ^accounts/changepswd server/changepassword.php [L,END]

RewriteCond %{REQUEST_URI} !.*\.(css|js|html|png|jpg|jpeg|gif|txt|woff|eot)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) ?%{QUERY_STRING} [NC,L]
#RewriteRule ^(.*)$ index.html [QSA,L]
