<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8 bg-default">
            <poll-list data-type="home" data-cat="all"></poll-list>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="row">
                <div class="col-xs-12 side-banner-section">
                    <h4>Trending</h4>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a data-target="#viewedthisweek" aria-controls="activity" role="button" data-toggle="tab">This Week</a>
                        </li>
                        <li role="presentation">
                            <a data-target="#viewedthismonth" aria-controls="settings" role="button" data-toggle="tab">This Month</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="viewedthisweek">
                            tdtay
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="viewedthismonth">
                            shgd fkj hd
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h3>Get the App</h3>
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="#" class="store-icon google-store"></a>
                        </div>
                        <div class="col-xs-6">
                            <a href="#" class="store-icon apple-store"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h3>Connect with FEEDD</h3>
                </div>
            </div>
        </div>
    </div>
</div>
