<div data-ng-controller="creator as crt">
    <div class="col-xs-12">
        <form>
            <div class="form-group">
                <label class="control-label">Poll Question</label>
                <textarea class="form-control" data-ng-model="crt.poll.question" placeholder="Write your poll question here ..." rows="4"></textarea>
            </div>
            <div class="form-group">
                <label class="control-label">Category</label>
                <select class="form-control" data-ng-model="crt.category" data-ng-options="item as item.catName for item in crt.pollCatArr track by item.catId"></select>
            </div>
            <div class="form-group ng-cloack" data-ng-repeat="(i, option) in crt.poll.optionArr track by $index">
                <input type="text" class="form-control" placeholder="{{'Option ' + ($index + 1)}}" data-ng-model="crt.poll.optionArr[i]" />
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-warning" data-ng-click="crt.createpoll()">Create</button>
            </div>
        </form>
    </div>
</div>
