<div class="container-fluid">
    <h3>Profile Details</h3>
    <div class="row">
        <div class="col-xs-12 col-md-4">
            
        </div>
        <div class="col-xs-12 col-md-8">
            <form class="form" novalidate name="profileForm">
                <div class="form-group" data-ng-class="{'has-error': (profileForm.fullname.$invalid && !profileForm.fullname.$pristine)}">
                    <label class="control-label">
                        Name <span class="glyphicon glyphicon-info-sign" role="button" title="Please provide your full name here"></span>
                    </label>
                    <input type="text" class="form-control" name="fullname" data-ng-model="User.Profile.Name" placeholder="Your full name" required data-ng-maxlength="100" />
                    <p ng-show="profileForm.fullname.$invalid && !profileForm.fullname.$pristine" class="help-block">Your full name is required.</p>
                </div>
                <div class="form-group" data-ng-class="{'has-error': (profileForm.email.$invalid && !profileForm.email.$pristine)}">
                    <label class="control-label">
                        Email address <span class="glyphicon glyphicon-info-sign" role="button" title="Please provide your email address here"></span>
                    </label>
                    <input type="email" class="form-control" name="email" data-ng-model="User.Profile.Email" placeholder="Your email address" required data-ng-maxlength="100" data-ng-disabled="User.Profile.emailExist" />
                    <p ng-show="profileForm.email.$invalid" class="help-block">Please provide a valid email address.</p>
                </div>
<!--
                <div class="form-group" data-ng-class="{'has-error': (profileForm.username.$invalid && !profileForm.username.$pristine)}">
                    <label class="control-label">
                        Username <span class="glyphicon glyphicon-info-sign" role="button" title="Username can contain alphanumeric characters only. Min-length:4, Max-length:20"></span>
                    </label>
                    <input type="text" class="form-control" name="username" data-ng-model="User.Profile.Username" placeholder="Enter a username" required data-ng-maxlength="20" data-ng-minlength="4" data-ng-pattern="User.usernameRegex" />
                    <p ng-show="profileForm.username.$invalid && !profileForm.usernamename.$pristine" class="help-block">Choose a username of alphanumeric characters. Min length - 4. Max length - 20.</p>
                </div>
-->
                <div class="form-group" data-ng-class="{'has-error': (profileForm.age.$invalid && !profileForm.age.$pristine)}">
                    <label class="control-label">
                        Age <span class="glyphicon glyphicon-info-sign" role="button" title="Please provide your age here"></span>
                    </label>
                    <input type="number" class="form-control" name="age" data-ng-model="User.Profile.Age" placeholder="Your Age" max="100" min="3" />
                    <p ng-show="profileForm.age.$invalid && !profileForm.age.$pristine" class="help-block">Please enter a valid age.</p>
                </div>
                <div class="form-group">
                    <label class="control-label">
                        Gender <span class="glyphicon glyphicon-info-sign" role="button" title="Please select your gender"></span>
                    </label>
                    <select class="form-control" name="gender" data-ng-model="User.Profile.Gender">
                        <option value="">Please select</option>
                        <option value="Male">Male</option>
                        <option value="Male">Female</option>
                        <option value="Male">Other</option>
                    </select>
                </div>
                <div class="form-group" data-ng-class="{'has-error': (profileForm.country.$invalid && !profileForm.country.$pristine)}">
                    <label class="control-label">
                        Country <span class="glyphicon glyphicon-info-sign" role="button" title="Please enter your country"></span>
                    </label>
                    <input type="text" class="form-control" name="country" data-ng-model="User.Profile.Country" placeholder="Your Country" data-ng-maxlength="100" data-ng-minlength="3" />
                    <p ng-show="profileForm.country.$invalid && !profileForm.country.$pristine" class="help-block">Please enter a valid country name.</p>
                </div>
                <div class="form-group">
                    <button class="btn btn-success" data-ng-click="Profile.submitProfile(profileForm.$valid)">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>