<html data-ng-app="app" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible">
    <title>Feedd</title>
    <base href="/feeddasm/" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--
    <meta name="google-signin-client_id" content="418125885627-j2a16gbm8m1i62qqe820fspdkvb7fqop.apps.googleusercontent.com">
-->
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        body{
            margin-top:60px;
        }
        .cat-list-banner {
            overflow-x: auto;
            white-space: nowrap;
            background: #555;
            padding-top: 10px;
            margin-bottom: 15px;
            position: fixed;
            top:50px;
            z-index:10;
        }
        .cat-list-banner li a{
            color:#f3f3f3;
            padding: 5px 10px;
        }
        @media (max-width:767px) {
            body{
                margin-top:100px;
            }
        }
    </style>
</head>

<body class="container-fluid">
    <header class="row" data-ng-controller="headerCtrl as head">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="./">
                        FEEDD
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav hidden-xs">
                        <li data-ng-repeat="item in head.pollCatArr">
                            <a data-ng-href="{{'polls/' + item.catName}}" data-ng-bind="item.catName"></a>
                        </li>
                        <!--
                        <li><a href="./">Home</a></li>
                        <li><a href="categories">Categories</a></li>
                        <li><a href="pollcreater" data-auth-user-only>Creator</a></li>
-->
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <!--
                        <li class="dropdown" ng-cloak data-ng-if="user.name">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span>{{'Welcome ' + user.name.split(' ')[0]}}</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="btn btn-link" data-ng-click="head.logout()">Logout</a>
                                </li>
                            </ul>
                        </li>
-->
                        <li ng-cloak data-ng-if="user.name">
                            <a data-ng-href="{{'users/' + user.id +'/' + user.name.split(' ').join('-')}}">{{'Welcome ' + user.name.split(' ')[0]}}</a>
                        </li>
                        <li ng-cloak data-ng-if="!user.name">
                            <a role="button">
                                <span data-ng-click="head.showAuthModal()">Signin</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.navbar-collapse -->
            <!-- /.container-fluid -->
        </nav>
        <div class="visible-xs col-xs-12 cat-list-banner">
            <ul class="list-inline">
                <li data-ng-repeat="item in head.pollCatArr">
                    <a data-ng-href="{{'polls/' + item.catName}}" data-ng-bind="item.catName"></a>
                </li>
            </ul>
        </div>
    </header>
    <div id="fb-root"></div>

    <div data-ng-view class="row"></div>

    <div class="modal fade" tabindex="-1" role="dialog" id="auth-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Login</h4>
                </div>
                <div class="modal-body">
                    <div class="fb-login-button" data-display="popup" data-size="medium" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
                    <div id="google-signin"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <script>
        /*
                                        (function(d, s, id) {
                                            var js, fjs = d.getElementsByTagName(s)[0];
                                            if (d.getElementById(id)) return;
                                            js = d.createElement(s);
                                            js.id = id;
                                            js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.9&appId=1356379634397148";
                                            fjs.parentNode.insertBefore(js, fjs);
                                        }(document, 'script', 'facebook-jssdk'));

                                */

    </script>

    <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="app/app.js"></script>
    <script type="application/javascript" src="app/app.controllers.js"></script>
    <script type="application/javascript" src="app/app.services.js"></script>
    <script type="application/javascript" src="app/app.directives.js"></script>
</body>

</html>
