* {
    word-break: break-word;
}

body {
    margin-top: 60px;
    font-family: 'Lato', 'Arial', sans-serif;
    background-color: #f9f9f9;
}

.navbar-theme {
    background-color: rgba(29, 29, 97, 0.85);
    border: none;
    background-image: linear-gradient(-90deg, #222, #555, #333, #777, #333, #555, #222);
    background-size: 550px 100px;
    background-repeat: repeat;
}

.navbar-theme .btn-link {
    color: #fff;
}
.navbar-theme .btn-link:hover{
    text-decoration: none;
}
nav.navbar-theme .navbar-nav>li>a {
    color: #fff;
    transition: color linear 0.25s;
    font-weight: bold;
}

nav.navbar-theme .navbar-brand {
    color: #fff;
}

.navbar-theme .navbar-toggle,
.navbar-theme .navbar-toggle:focus,
.navbar-theme .navbar-toggle:hover {
    background: #f0ad4e;
}

nav.navbar-theme .navbar-nav>li>a.active, .cat-list-banner li>a.active{
    background: rgba(0,0,0,0.75);
    color:#f0ad4e;
    text-decoration: none;
}

.navbar-theme .navbar-collapse,
.navbar-theme .navbar-form {
    border: none;
}

.navbar-brand .brand-image {
    height: 40px;
    margin-top: -10px;
}

nav.navbar-theme .navbar-nav>li>a:hover,
nav.navbar-theme .navbar-nav>li>a:focus,
nav.navbar-theme .navbar-brand:hover,
nav.navbar-theme .navbar-brand:focus {
    color: #f0ad4e;
}

.cat-list-banner {
    overflow-x: auto;
    white-space: nowrap;
    background: #555;
    padding-top: 10px;
    margin-bottom: 15px;
    position: fixed;
    top: 50px;
    z-index: 10;
}

.cat-list-banner li a {
    color: #f3f3f3;
    padding: 5px 10px;
}

.side-banner-section {
    background: #fff;
    box-shadow: 0px 0px 2px #ddd;
    padding: 15px;
    margin-bottom: 15px;
}

.side-banner-container {
    position: sticky;
    top: 60px;
}

.store-icon {
    height: 60px;
    background-position: center;
    display: block;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.store-icon.google-store {
    background-image: url('./../images/google-play-badge.png');
}

.store-icon.apple-store {
    background-image: url('./../images/apple-app-store.svg');
}

.content-container {
    text-align: justify;
    font-size: 1.2em;
}

.content-container p {
    margin-bottom: 25px;
}

.content-container li {
    margin-bottom: 10px;
}

.inline-btn-link .like-action-btn {
    color: #ccc;
}

.inline-btn-link .like-action-btn:hover {
    color: #aaa;
}

.inline-btn-link {
    padding: 0px;
    margin-right: 15px;
    cursor: pointer;
    font-size: 0.9em;
}

.inline-btn-link:hover {
    text-decoration: none;
}

.content-container h4 {
    text-decoration: underline;
}

.preview-poll-image>img {
    width: 150px;
}
.home-description{
    font-size: 15px;
    line-height: 1.4em;
    font-family: 'Helvetica Neue', Arial;
}
.loader {
    width: 32px;
    height: 32px;
    border: 2px solid #00b0ff;
    border-radius: 100%;
    transform-origin: center;
    transform: rotateZ(0deg);
    border-style: dotted;
    border-bottom: none;
    border-right: none;
    display: inline-block;
    animation: spinner 1s infinite;
    -webkit-animation: spinner 1s infinite;
    -moz-animation: spinner 1s infinite;
}
.no-outline,.no-outline:focus,.no-outline:hover{
    outline:none;
}
#mobile-create-poll {
    position: sticky;
    bottom: 0px;
    background: rgba(210, 209, 209, 0.42);
    text-align: center;
    padding: 10px;
    left: 0px;
    margin-bottom: 10px;
    right: 0px;
    margin-left: -15px;
    margin-right: -15px;
}
@keyframes spinner {
    from {
        transform: rotateZ(0deg);
    } to {
        transform: rotateZ(360deg);
    }
}
@-webkit-keyframes spinner {
    from {
        transform: rotateZ(0deg);
    } to {
        transform: rotateZ(360deg);
    }
}
@-moz-keyframes spinner {
    from {
        transform: rotateZ(0deg);
    } to {
        transform: rotateZ(360deg);
    }
}
@media (max-width:767px) {
    body {
        margin-top: 100px;
    }
}
