*{
  box-sizing: border-box;
}
body {
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 16px;
    &.fixed-header{
      margin-top:80px;
      @include respond-to(extra-small) {
        margin-top:100px;
      }
    }
}
a{
  text-decoration: none;
  color: $theme-blue;
  &:hover{
    @extend a;
  }
}
