/* For BOX SHADOW */
/* Text tranform to uppercase and add letter spacing*/
/* Use to style links*/
/* Extra small devices (phones, less than 768px) */
.m-t-all-0 {
  margin-top: 0; }

.m-b-all-0 {
  margin-bottom: 0; }

.p-t-all-0 {
  padding-top: 0; }

.p-b-all-0 {
  padding-bottom: 0; }

.p-l-all-0 {
  padding-left: 0; }

.p-r-all-0 {
  padding-right: 0; }

.m-t-all-1 {
  margin-top: 10; }

.m-b-all-1 {
  margin-bottom: 10; }

.p-t-all-1 {
  padding-top: 5; }

.p-b-all-1 {
  padding-bottom: 5; }

.p-l-all-1 {
  padding-left: 5; }

.p-r-all-1 {
  padding-right: 5; }

.m-t-all-2 {
  margin-top: 20; }

.m-b-all-2 {
  margin-bottom: 20; }

.p-t-all-2 {
  padding-top: 10; }

.p-b-all-2 {
  padding-bottom: 10; }

.p-l-all-2 {
  padding-left: 10; }

.p-r-all-2 {
  padding-right: 10; }

.m-t-all-3 {
  margin-top: 30; }

.m-b-all-3 {
  margin-bottom: 30; }

.p-t-all-3 {
  padding-top: 15; }

.p-b-all-3 {
  padding-bottom: 15; }

.p-l-all-3 {
  padding-left: 15; }

.p-r-all-3 {
  padding-right: 15; }

.m-t-all-4 {
  margin-top: 40; }

.m-b-all-4 {
  margin-bottom: 40; }

.p-t-all-4 {
  padding-top: 20; }

.p-b-all-4 {
  padding-bottom: 20; }

.p-l-all-4 {
  padding-left: 20; }

.p-r-all-4 {
  padding-right: 20; }

.m-t-all-5 {
  margin-top: 50; }

.m-b-all-5 {
  margin-bottom: 50; }

.p-t-all-5 {
  padding-top: 25; }

.p-b-all-5 {
  padding-bottom: 25; }

.p-l-all-5 {
  padding-left: 25; }

.p-r-all-5 {
  padding-right: 25; }

.m-t-all-6 {
  margin-top: 60; }

.m-b-all-6 {
  margin-bottom: 60; }

.p-t-all-6 {
  padding-top: 30; }

.p-b-all-6 {
  padding-bottom: 30; }

.p-l-all-6 {
  padding-left: 30; }

.p-r-all-6 {
  padding-right: 30; }

.m-t-all-7 {
  margin-top: 70; }

.m-b-all-7 {
  margin-bottom: 70; }

.p-t-all-7 {
  padding-top: 35; }

.p-b-all-7 {
  padding-bottom: 35; }

.p-l-all-7 {
  padding-left: 35; }

.p-r-all-7 {
  padding-right: 35; }

.m-t-all-8 {
  margin-top: 80; }

.m-b-all-8 {
  margin-bottom: 80; }

.p-t-all-8 {
  padding-top: 40; }

.p-b-all-8 {
  padding-bottom: 40; }

.p-l-all-8 {
  padding-left: 40; }

.p-r-all-8 {
  padding-right: 40; }

.m-t-all-9 {
  margin-top: 90; }

.m-b-all-9 {
  margin-bottom: 90; }

.p-t-all-9 {
  padding-top: 45; }

.p-b-all-9 {
  padding-bottom: 45; }

.p-l-all-9 {
  padding-left: 45; }

.p-r-all-9 {
  padding-right: 45; }

.m-t-all-10 {
  margin-top: 100; }

.m-b-all-10 {
  margin-bottom: 100; }

.p-t-all-10 {
  padding-top: 50; }

.p-b-all-10 {
  padding-bottom: 50; }

.p-l-all-10 {
  padding-left: 50; }

.p-r-all-10 {
  padding-right: 50; }

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .m-t-xs-0 {
    margin-top: 0; }

  .m-b-xs-0 {
    margin-bottom: 0; }

  .p-t-xs-0 {
    padding-top: 0; }

  .p-b-xs-0 {
    padding-bottom: 0; }

  .p-l-xs-0 {
    padding-left: 0; }

  .p-r-xs-0 {
    padding-right: 0; }

  .m-t-xs-1 {
    margin-top: 10; }

  .m-b-xs-1 {
    margin-bottom: 10; }

  .p-t-xs-1 {
    padding-top: 5; }

  .p-b-xs-1 {
    padding-bottom: 5; }

  .p-l-xs-1 {
    padding-left: 5; }

  .p-r-xs-1 {
    padding-right: 5; }

  .m-t-xs-2 {
    margin-top: 20; }

  .m-b-xs-2 {
    margin-bottom: 20; }

  .p-t-xs-2 {
    padding-top: 10; }

  .p-b-xs-2 {
    padding-bottom: 10; }

  .p-l-xs-2 {
    padding-left: 10; }

  .p-r-xs-2 {
    padding-right: 10; }

  .m-t-xs-3 {
    margin-top: 30; }

  .m-b-xs-3 {
    margin-bottom: 30; }

  .p-t-xs-3 {
    padding-top: 15; }

  .p-b-xs-3 {
    padding-bottom: 15; }

  .p-l-xs-3 {
    padding-left: 15; }

  .p-r-xs-3 {
    padding-right: 15; }

  .m-t-xs-4 {
    margin-top: 40; }

  .m-b-xs-4 {
    margin-bottom: 40; }

  .p-t-xs-4 {
    padding-top: 20; }

  .p-b-xs-4 {
    padding-bottom: 20; }

  .p-l-xs-4 {
    padding-left: 20; }

  .p-r-xs-4 {
    padding-right: 20; }

  .m-t-xs-5 {
    margin-top: 50; }

  .m-b-xs-5 {
    margin-bottom: 50; }

  .p-t-xs-5 {
    padding-top: 25; }

  .p-b-xs-5 {
    padding-bottom: 25; }

  .p-l-xs-5 {
    padding-left: 25; }

  .p-r-xs-5 {
    padding-right: 25; }

  .m-t-xs-6 {
    margin-top: 60; }

  .m-b-xs-6 {
    margin-bottom: 60; }

  .p-t-xs-6 {
    padding-top: 30; }

  .p-b-xs-6 {
    padding-bottom: 30; }

  .p-l-xs-6 {
    padding-left: 30; }

  .p-r-xs-6 {
    padding-right: 30; }

  .m-t-xs-7 {
    margin-top: 70; }

  .m-b-xs-7 {
    margin-bottom: 70; }

  .p-t-xs-7 {
    padding-top: 35; }

  .p-b-xs-7 {
    padding-bottom: 35; }

  .p-l-xs-7 {
    padding-left: 35; }

  .p-r-xs-7 {
    padding-right: 35; }

  .m-t-xs-8 {
    margin-top: 80; }

  .m-b-xs-8 {
    margin-bottom: 80; }

  .p-t-xs-8 {
    padding-top: 40; }

  .p-b-xs-8 {
    padding-bottom: 40; }

  .p-l-xs-8 {
    padding-left: 40; }

  .p-r-xs-8 {
    padding-right: 40; }

  .m-t-xs-9 {
    margin-top: 90; }

  .m-b-xs-9 {
    margin-bottom: 90; }

  .p-t-xs-9 {
    padding-top: 45; }

  .p-b-xs-9 {
    padding-bottom: 45; }

  .p-l-xs-9 {
    padding-left: 45; }

  .p-r-xs-9 {
    padding-right: 45; }

  .m-t-xs-10 {
    margin-top: 100; }

  .m-b-xs-10 {
    margin-bottom: 100; }

  .p-t-xs-10 {
    padding-top: 50; }

  .p-b-xs-10 {
    padding-bottom: 50; }

  .p-l-xs-10 {
    padding-left: 50; }

  .p-r-xs-10 {
    padding-right: 50; } }
/* Extra small devices (phones, less than 768px) */
@media (min-width: 768px) and (max-width: 991px) {
  .m-t-sm-0 {
    margin-top: 0; }

  .m-b-sm-0 {
    margin-bottom: 0; }

  .p-t-sm-0 {
    padding-top: 0; }

  .p-b-sm-0 {
    padding-bottom: 0; }

  .p-l-sm-0 {
    padding-left: 0; }

  .p-r-sm-0 {
    padding-right: 0; }

  .m-t-sm-1 {
    margin-top: 10; }

  .m-b-sm-1 {
    margin-bottom: 10; }

  .p-t-sm-1 {
    padding-top: 5; }

  .p-b-sm-1 {
    padding-bottom: 5; }

  .p-l-sm-1 {
    padding-left: 5; }

  .p-r-sm-1 {
    padding-right: 5; }

  .m-t-sm-2 {
    margin-top: 20; }

  .m-b-sm-2 {
    margin-bottom: 20; }

  .p-t-sm-2 {
    padding-top: 10; }

  .p-b-sm-2 {
    padding-bottom: 10; }

  .p-l-sm-2 {
    padding-left: 10; }

  .p-r-sm-2 {
    padding-right: 10; }

  .m-t-sm-3 {
    margin-top: 30; }

  .m-b-sm-3 {
    margin-bottom: 30; }

  .p-t-sm-3 {
    padding-top: 15; }

  .p-b-sm-3 {
    padding-bottom: 15; }

  .p-l-sm-3 {
    padding-left: 15; }

  .p-r-sm-3 {
    padding-right: 15; }

  .m-t-sm-4 {
    margin-top: 40; }

  .m-b-sm-4 {
    margin-bottom: 40; }

  .p-t-sm-4 {
    padding-top: 20; }

  .p-b-sm-4 {
    padding-bottom: 20; }

  .p-l-sm-4 {
    padding-left: 20; }

  .p-r-sm-4 {
    padding-right: 20; }

  .m-t-sm-5 {
    margin-top: 50; }

  .m-b-sm-5 {
    margin-bottom: 50; }

  .p-t-sm-5 {
    padding-top: 25; }

  .p-b-sm-5 {
    padding-bottom: 25; }

  .p-l-sm-5 {
    padding-left: 25; }

  .p-r-sm-5 {
    padding-right: 25; }

  .m-t-sm-6 {
    margin-top: 60; }

  .m-b-sm-6 {
    margin-bottom: 60; }

  .p-t-sm-6 {
    padding-top: 30; }

  .p-b-sm-6 {
    padding-bottom: 30; }

  .p-l-sm-6 {
    padding-left: 30; }

  .p-r-sm-6 {
    padding-right: 30; }

  .m-t-sm-7 {
    margin-top: 70; }

  .m-b-sm-7 {
    margin-bottom: 70; }

  .p-t-sm-7 {
    padding-top: 35; }

  .p-b-sm-7 {
    padding-bottom: 35; }

  .p-l-sm-7 {
    padding-left: 35; }

  .p-r-sm-7 {
    padding-right: 35; }

  .m-t-sm-8 {
    margin-top: 80; }

  .m-b-sm-8 {
    margin-bottom: 80; }

  .p-t-sm-8 {
    padding-top: 40; }

  .p-b-sm-8 {
    padding-bottom: 40; }

  .p-l-sm-8 {
    padding-left: 40; }

  .p-r-sm-8 {
    padding-right: 40; }

  .m-t-sm-9 {
    margin-top: 90; }

  .m-b-sm-9 {
    margin-bottom: 90; }

  .p-t-sm-9 {
    padding-top: 45; }

  .p-b-sm-9 {
    padding-bottom: 45; }

  .p-l-sm-9 {
    padding-left: 45; }

  .p-r-sm-9 {
    padding-right: 45; }

  .m-t-sm-10 {
    margin-top: 100; }

  .m-b-sm-10 {
    margin-bottom: 100; }

  .p-t-sm-10 {
    padding-top: 50; }

  .p-b-sm-10 {
    padding-bottom: 50; }

  .p-l-sm-10 {
    padding-left: 50; }

  .p-r-sm-10 {
    padding-right: 50; } }
/* Extra small devices (phones, less than 768px) */
@media (min-width: 992px) and (max-width: 1199px) {
  .m-t-md-0 {
    margin-top: 0; }

  .m-b-md-0 {
    margin-bottom: 0; }

  .p-t-md-0 {
    padding-top: 0; }

  .p-b-md-0 {
    padding-bottom: 0; }

  .p-l-md-0 {
    padding-left: 0; }

  .p-r-md-0 {
    padding-right: 0; }

  .m-t-md-1 {
    margin-top: 10; }

  .m-b-md-1 {
    margin-bottom: 10; }

  .p-t-md-1 {
    padding-top: 5; }

  .p-b-md-1 {
    padding-bottom: 5; }

  .p-l-md-1 {
    padding-left: 5; }

  .p-r-md-1 {
    padding-right: 5; }

  .m-t-md-2 {
    margin-top: 20; }

  .m-b-md-2 {
    margin-bottom: 20; }

  .p-t-md-2 {
    padding-top: 10; }

  .p-b-md-2 {
    padding-bottom: 10; }

  .p-l-md-2 {
    padding-left: 10; }

  .p-r-md-2 {
    padding-right: 10; }

  .m-t-md-3 {
    margin-top: 30; }

  .m-b-md-3 {
    margin-bottom: 30; }

  .p-t-md-3 {
    padding-top: 15; }

  .p-b-md-3 {
    padding-bottom: 15; }

  .p-l-md-3 {
    padding-left: 15; }

  .p-r-md-3 {
    padding-right: 15; }

  .m-t-md-4 {
    margin-top: 40; }

  .m-b-md-4 {
    margin-bottom: 40; }

  .p-t-md-4 {
    padding-top: 20; }

  .p-b-md-4 {
    padding-bottom: 20; }

  .p-l-md-4 {
    padding-left: 20; }

  .p-r-md-4 {
    padding-right: 20; }

  .m-t-md-5 {
    margin-top: 50; }

  .m-b-md-5 {
    margin-bottom: 50; }

  .p-t-md-5 {
    padding-top: 25; }

  .p-b-md-5 {
    padding-bottom: 25; }

  .p-l-md-5 {
    padding-left: 25; }

  .p-r-md-5 {
    padding-right: 25; }

  .m-t-md-6 {
    margin-top: 60; }

  .m-b-md-6 {
    margin-bottom: 60; }

  .p-t-md-6 {
    padding-top: 30; }

  .p-b-md-6 {
    padding-bottom: 30; }

  .p-l-md-6 {
    padding-left: 30; }

  .p-r-md-6 {
    padding-right: 30; }

  .m-t-md-7 {
    margin-top: 70; }

  .m-b-md-7 {
    margin-bottom: 70; }

  .p-t-md-7 {
    padding-top: 35; }

  .p-b-md-7 {
    padding-bottom: 35; }

  .p-l-md-7 {
    padding-left: 35; }

  .p-r-md-7 {
    padding-right: 35; }

  .m-t-md-8 {
    margin-top: 80; }

  .m-b-md-8 {
    margin-bottom: 80; }

  .p-t-md-8 {
    padding-top: 40; }

  .p-b-md-8 {
    padding-bottom: 40; }

  .p-l-md-8 {
    padding-left: 40; }

  .p-r-md-8 {
    padding-right: 40; }

  .m-t-md-9 {
    margin-top: 90; }

  .m-b-md-9 {
    margin-bottom: 90; }

  .p-t-md-9 {
    padding-top: 45; }

  .p-b-md-9 {
    padding-bottom: 45; }

  .p-l-md-9 {
    padding-left: 45; }

  .p-r-md-9 {
    padding-right: 45; }

  .m-t-md-10 {
    margin-top: 100; }

  .m-b-md-10 {
    margin-bottom: 100; }

  .p-t-md-10 {
    padding-top: 50; }

  .p-b-md-10 {
    padding-bottom: 50; }

  .p-l-md-10 {
    padding-left: 50; }

  .p-r-md-10 {
    padding-right: 50; } }
/* Extra small devices (phones, less than 768px) */
@media (min-width: 1200px) {
  .m-t-lg-0 {
    margin-top: 0; }

  .m-b-lg-0 {
    margin-bottom: 0; }

  .p-t-lg-0 {
    padding-top: 0; }

  .p-b-lg-0 {
    padding-bottom: 0; }

  .p-l-lg-0 {
    padding-left: 0; }

  .p-r-lg-0 {
    padding-right: 0; }

  .m-t-lg-1 {
    margin-top: 10; }

  .m-b-lg-1 {
    margin-bottom: 10; }

  .p-t-lg-1 {
    padding-top: 5; }

  .p-b-lg-1 {
    padding-bottom: 5; }

  .p-l-lg-1 {
    padding-left: 5; }

  .p-r-lg-1 {
    padding-right: 5; }

  .m-t-lg-2 {
    margin-top: 20; }

  .m-b-lg-2 {
    margin-bottom: 20; }

  .p-t-lg-2 {
    padding-top: 10; }

  .p-b-lg-2 {
    padding-bottom: 10; }

  .p-l-lg-2 {
    padding-left: 10; }

  .p-r-lg-2 {
    padding-right: 10; }

  .m-t-lg-3 {
    margin-top: 30; }

  .m-b-lg-3 {
    margin-bottom: 30; }

  .p-t-lg-3 {
    padding-top: 15; }

  .p-b-lg-3 {
    padding-bottom: 15; }

  .p-l-lg-3 {
    padding-left: 15; }

  .p-r-lg-3 {
    padding-right: 15; }

  .m-t-lg-4 {
    margin-top: 40; }

  .m-b-lg-4 {
    margin-bottom: 40; }

  .p-t-lg-4 {
    padding-top: 20; }

  .p-b-lg-4 {
    padding-bottom: 20; }

  .p-l-lg-4 {
    padding-left: 20; }

  .p-r-lg-4 {
    padding-right: 20; }

  .m-t-lg-5 {
    margin-top: 50; }

  .m-b-lg-5 {
    margin-bottom: 50; }

  .p-t-lg-5 {
    padding-top: 25; }

  .p-b-lg-5 {
    padding-bottom: 25; }

  .p-l-lg-5 {
    padding-left: 25; }

  .p-r-lg-5 {
    padding-right: 25; }

  .m-t-lg-6 {
    margin-top: 60; }

  .m-b-lg-6 {
    margin-bottom: 60; }

  .p-t-lg-6 {
    padding-top: 30; }

  .p-b-lg-6 {
    padding-bottom: 30; }

  .p-l-lg-6 {
    padding-left: 30; }

  .p-r-lg-6 {
    padding-right: 30; }

  .m-t-lg-7 {
    margin-top: 70; }

  .m-b-lg-7 {
    margin-bottom: 70; }

  .p-t-lg-7 {
    padding-top: 35; }

  .p-b-lg-7 {
    padding-bottom: 35; }

  .p-l-lg-7 {
    padding-left: 35; }

  .p-r-lg-7 {
    padding-right: 35; }

  .m-t-lg-8 {
    margin-top: 80; }

  .m-b-lg-8 {
    margin-bottom: 80; }

  .p-t-lg-8 {
    padding-top: 40; }

  .p-b-lg-8 {
    padding-bottom: 40; }

  .p-l-lg-8 {
    padding-left: 40; }

  .p-r-lg-8 {
    padding-right: 40; }

  .m-t-lg-9 {
    margin-top: 90; }

  .m-b-lg-9 {
    margin-bottom: 90; }

  .p-t-lg-9 {
    padding-top: 45; }

  .p-b-lg-9 {
    padding-bottom: 45; }

  .p-l-lg-9 {
    padding-left: 45; }

  .p-r-lg-9 {
    padding-right: 45; }

  .m-t-lg-10 {
    margin-top: 100; }

  .m-b-lg-10 {
    margin-bottom: 100; }

  .p-t-lg-10 {
    padding-top: 50; }

  .p-b-lg-10 {
    padding-bottom: 50; }

  .p-l-lg-10 {
    padding-left: 50; }

  .p-r-lg-10 {
    padding-right: 50; } }
* {
  box-sizing: border-box; }

body {
  font-family: 'Lato', 'Arial', sans-serif;
  background-color: #f9f9f9; }
  body.fixed-header {
    margin-top: 50px;
    /* Extra small devices (phones, less than 768px) */ }
    @media (max-width: 767px) {
      body.fixed-header {
        margin-top: 100px; } }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

.menu-link, nav.navbar-theme .navbar-nav > li > a {
  color: #ffffff;
  -moz-transition: color linear 0.25s;
  -o-transition: color linear 0.25s;
  -webkit-transition: color linear 0.25s;
  transition: color linear 0.25s; }
  .menu-link:hover, nav.navbar-theme .navbar-nav > li > a:hover {
    color: #f0ad4e; }
  .menu-link.active, nav.navbar-theme .navbar-nav > li > a.active {
    background: #000000;
    color: #f0ad4e;
    text-decoration: none; }

.store-icon {
  height: 60px;
  background-position: center;
  display: block;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain; }
  .store-icon.google-store {
    background-image: url("./../images/google-play-badge.png"); }
  .store-icon.apple-store {
    background-image: url("./../images/apple-app-store.svg"); }

.inline-btn-link {
  padding: 0px;
  margin-right: 15px;
  cursor: pointer;
  font-size: 0.9rem; }
  .inline-btn-link .like-action-btn {
    color: #dddddd; }
    .inline-btn-link .like-action-btn:hover {
      color: #aaaaaa; }
  .inline-btn-link:hover {
    text-decoration: none; }

.no-outline, .no-outline:focus, .no-outline:hover {
  outline: none; }

nav.navbar-theme {
  background-color: #333333;
  border: none; }
  nav.navbar-theme .btn-link {
    color: #ffffff; }
    nav.navbar-theme .btn-link:hover {
      text-decoration: none; }
  nav.navbar-theme .navbar-brand {
    color: #ffffff; }
    nav.navbar-theme .navbar-brand .brand-image {
      height: 40px; }
  nav.navbar-theme .navbar-toggle, nav.navbar-theme .navbar-toggle:hover, nav.navbar-theme .navbar-toggle:focus {
    background: #f0ad4e; }

.cat-list-banner {
  overflow-x: auto;
  white-space: nowrap;
  background: #333333;
  position: fixed;
  top: 50px;
  z-index: 10; }

#mobile-create-poll {
  position: sticky;
  bottom: 0px;
  background: rgba(210, 209, 209, 0.42);
  text-align: center;
  padding: 10px;
  left: 0px;
  margin-bottom: 10px;
  right: 0px;
  margin-left: -15px;
  margin-right: -15px; }

.home-banner {
  background-color: #f0ad4e; }
  .home-banner h1 {
    font-size: 36px;
    color: #333333; }
  .home-banner p {
    font-size: 20px; }

.side-banner-section {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 2px 0px #dddddd;
  -moz-box-shadow: 0px 0px 2px 0px #dddddd;
  box-shadow: 0px 0px 2px 0px #dddddd; }
  .side-banner-section .side-banner-container {
    position: sticky;
    top: 60px; }

.preview-poll-image img {
  width: 150px; }

.poll-item {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 2px 0px #dddddd;
  -moz-box-shadow: 0px 0px 2px 0px #dddddd;
  box-shadow: 0px 0px 2px 0px #dddddd; }
  .poll-item .poll-item-question {
    padding: 10px 15px;
    border-bottom: 1px solid #dddddd; }
  .poll-item .poll-item-option-container .poll-item-option {
    border-bottom: 1px solid #dddddd; }
    .poll-item .poll-item-option-container .poll-item-option .radio {
      margin: 0px;
      padding: 0px; }
      .poll-item .poll-item-option-container .poll-item-option .radio label {
        width: 100%;
        -moz-transition: background linear 0.5s;
        -o-transition: background linear 0.5s;
        -webkit-transition: background linear 0.5s;
        transition: background linear 0.5s;
        padding: 10px 15px; }
        .poll-item .poll-item-option-container .poll-item-option .radio label:hover {
          background: #f9f9f9; }
        .poll-item .poll-item-option-container .poll-item-option .radio label.selected {
          color: #f0ad4e; }
          .poll-item .poll-item-option-container .poll-item-option .radio label.selected:after {
            content: '\2714'; }
      .poll-item .poll-item-option-container .poll-item-option .radio input[type=radio] {
        opacity: 0;
        width: 0px;
        height: 0px;
        margin: 0px; }
  .poll-item .poll-item-credits, .poll-item .poll-item-share {
    padding: 10px 15px; }
  .poll-item .poll-item-meta .btn-link {
    color: #aaaaaa; }
    .poll-item .poll-item-meta .btn-link:hover {
      color: #333333; }
    .poll-item .poll-item-meta .btn-link.active .glyphicon {
      color: #f0ad4e; }
  .poll-item .comment-input-container {
    border: 1px solid #dddddd;
    padding: 5px; }
    .poll-item .comment-input-container textarea {
      outline: none;
      border: none;
      resize: none;
      box-shadow: none;
      padding: 0px; }
      .poll-item .comment-input-container textarea:focus {
        outline: none;
        box-shadow: none; }
        .poll-item .comment-input-container textarea:focus ~ .post-button {
          display: block; }
    .poll-item .comment-input-container .post-button {
      display: none; }
      .poll-item .comment-input-container .post-button .btn {
        padding: 3px 15px; }
      .poll-item .comment-input-container .post-button:focus, .poll-item .comment-input-container .post-button:active {
        display: block; }
  .poll-item .poll-item-share-img {
    height: 30px; }
  .poll-item .poll-image-container {
    max-height: 250px;
    height: 250px;
    text-align: center; }
    .poll-item .poll-image-container img {
      height: 100%;
      max-width: 100%; }

/*# sourceMappingURL=app.css.map */
