.poll-item {
    background: #fff;
    box-shadow: 0px 0px 1px #cdcdcd;
    margin-bottom: 15px;
    border-radius: 3px;
}

.poll-item-question {
    padding: 10px 15px;
    border-bottom: 1px solid #d9d9d9;
}

.poll-item-question a {
    text-decoration: none;
}

.poll-item-question a:hover {
    text-decoration: underline;
}

.poll-item-option-container {
    padding: 0px;
    list-style: none;
    margin-bottom: 0px;
}

.poll-item-option {
    padding: 0px 0px;
    border-bottom: 1px solid #d9d9d9;
}

.poll-item-option .radio input[type=radio] {
    opacity: 0;
    width: 0px;
    height: 0px;
    margin: 0px;
}

.poll-item-option .radio label {
    width: 100%;
    transition: background linear 0.5s;
    padding: 10px 15px;
}

.poll-item-option .radio {
    padding: 0px 0px;
    margin: 0px;
}

.poll-item-option .radio label:hover {
    background: #f1f1ff;
}

.poll-item-option .radio label.selected {
    color: dodgerblue;
}

.poll-item-option .radio label.selected::after {
    content: '\2714';
}

.poll-item-credits {
    padding: 10px 15px;
}

.poll-item-credits a {
    text-decoration: none;
}

.poll-item-share {
    padding: 10px 15px;
}

.poll-item-meta .btn-link {
    color: #aaa;
}

.poll-item-meta .btn-link:hover {
    color: #333;
}

.poll-item-meta .btn-link.btn-lg {
    padding: 6px 12px;
}

.poll-item-meta .btn-link.btn-lg:focus {
    outline: none;
}

.poll-item-meta .btn-link.active .glyphicon-arrow-up {
    color: forestgreen;
}

.poll-item-meta .btn-link.active .glyphicon-arrow-down {
    color: darkred;
}

.poll-item-meta .btn-link .glyphicon-star {
    color: dodgerblue;
}

.comment-input-container {
    border: 1px solid #ccc;
    padding: 5px 5px;
}

.comment-input-container textarea {
    outline: none;
    border: none;
    resize: none;
    box-shadow: none;
    margin-bottom: 5px;
    padding: 0px;
}

.comment-input-container textarea:focus {
    outline: none;
    box-shadow: none;
}

.post-button {
    display: none;
}
.poll-item-share-img{
    height:30px;
}
.post-button .btn {
    padding: 3px 15px;
}

.post-button:focus {
    display: block;
}

.post-button:active {
    display: block;
}

.comment-input-container textarea:focus~.post-button {
    display: block;
}

.poll-image-container {
    max-height: 250px;
    height:250px;
    text-align: center;
}
.poll-image-container img {
    height: 100%;
    max-width: 100%;
}