body {
    margin-top: 60px;
    font-family: 'Lato', 'Arial', sans-serif;
    background-color: #f9f9f9;
}

.navbar-theme{
    background-color:rgba(29, 29, 97, 0.85);
    border: none;
}
nav.navbar-theme .navbar-nav>li>a{
    color:#bbb;
    transition: color linear 0.25s;
    font-weight: bold;
}
nav.navbar-theme .navbar-brand{
    color:#fff;
}
.navbar-theme .navbar-toggle, .navbar-theme .navbar-toggle:focus, .navbar-theme .navbar-toggle:hover {
    background: #fff;
}
.navbar-theme .navbar-collapse, .navbar-theme .navbar-form {
    border:none;
}

.navbar-brand .brand-image{
    height:40px;
    margin-top:-10px;
}
nav.navbar-theme .navbar-nav>li>a:hover, nav.navbar-theme .navbar-nav>li>a:focus, nav.navbar-theme .navbar-brand:hover, nav.navbar-theme .navbar-brand:focus{
    color:#fff;
}
.cat-list-banner {
    overflow-x: auto;
    white-space: nowrap;
    background: #555;
    padding-top: 10px;
    margin-bottom: 15px;
    position: fixed;
    top: 50px;
    z-index: 10;
}

.cat-list-banner li a {
    color: #f3f3f3;
    padding: 5px 10px;
}

.side-banner-section {
    background: #fff;
    box-shadow: 0px 0px 2px #ddd;
    padding: 15px;
    margin-bottom: 15px;
}
.side-banner-container {
    position: sticky;
    top:60px;
}
.store-icon{
    height: 60px;
    background-position: center;
    display: block;
    width:100%;
    background-repeat: no-repeat;
    background-size: contain;
}
.store-icon.google-store{
    background-image: url('./../images/google-play-badge.png');
}
.store-icon.apple-store{
    background-image: url('./../images/apple-app-store.svg');
}
.content-container {
    text-align:justify;
    font-size:1.2em;
}
.content-container p{
    margin-bottom:25px;
}

.content-container li{
    margin-bottom:10px;
}

.content-container h4{
    text-decoration:underline;
}

@media (max-width:767px) {
    body {
        margin-top: 100px;
    }
}