<div>
    <div class="col-xs-12">
        <h4>Activity</h4>
        <div class="row">
            <div class="col-xs-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a data-target="#polls" aria-controls="polls" role="button" data-toggle="tab">Polls</a>
                    </li>
                    <li role="presentation">
                        <a data-target="#votes" aria-controls="votes" role="button" data-toggle="tab">Votes</a>
                    </li>
                    <li role="presentation">
                        <a data-target="#favorites" aria-controls="favorites" role="button" data-toggle="tab">Favorites</a>
                    </li>
                    <li role="presentation">
                        <a data-target="#liked" aria-controls="liked" role="button" data-toggle="tab">Liked</a>
                    </li>
                    <li role="presentation">
                        <a data-target="#disliked" aria-controls="disliked" role="button" data-toggle="tab">Disliked</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="polls">
                        <div>&nbsp;</div>
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <div class="navbar-header">
<!--
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#activity-polls-navbar-collapse" aria-expanded="false" style="margin-top:12px;">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="caret"></span>
                                    </button>
-->
                                    <a class="navbar-brand">
                                        {{User.currentPolls.totalPolls + ' Polls'}}
                                    </a>
                                </div>
<!--
                                <div class="collapse navbar-collapse" id="activity-polls-navbar-collapse">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="active">
                                            <a>Newest</a>
                                        </li>
                                        <li>
                                            <a>Views</a>
                                        </li>
                                        <li>
                                            <a>Votes</a>
                                        </li>
                                    </ul>
                                </div>
-->
                            </div>
                            <!-- /.navbar-collapse -->
                            <!-- /.container-fluid -->
                        </nav>
                        <div>
                            <ul class="list-group">
                                <li class="list-group-item" data-ng-repeat="item in User.currentPolls.list">
                                    <a data-ng-href="{{'polls/' + item.id + '/' + item.questionText.split(' ').join('-')}}">
                                        {{item.questionText}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="votes">
                        <div>&nbsp;</div>
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
<!--
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#activity-votes-navbar-collapse" aria-expanded="false" style="margin-top:12px;">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="caret"></span>
                                    </button>
-->
                                    <a class="navbar-brand">
                                        {{User.currentVotes.totalVotes + ' Votes'}}
                                    </a>
                                </div>
<!--
                                <div class="collapse navbar-collapse" id="activity-votes-navbar-collapse">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="active">
                                            <a>Newest</a>
                                        </li>
                                        <li>
                                            <a>Views</a>
                                        </li>
                                        <li>
                                            <a>Votes</a>
                                        </li>
                                    </ul>
                                </div>
-->
                            </div>
                            <!-- /.navbar-collapse -->
                            <!-- /.container-fluid -->
                        </nav>
                        <div>
                            <ul class="list-group">
                                <li class="list-group-item" data-ng-repeat="item in User.currentVotes.list">
                                    <a data-ng-href="{{'polls/' + item.id + '/' + item.questionText.split(' ').join('-')}}">
                                        {{item.questionText}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="favorites">
                        <div>&nbsp;</div>
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <a class="navbar-brand">
                                        {{User.currentFavs.totalFavs + ' Favorites'}}
                                    </a>
                                </div>
                            </div>
                        </nav>
                        <div>
                            <ul class="list-group">
                                <li class="list-group-item" data-ng-repeat="item in User.currentFavs.list">
                                    <a data-ng-href="{{'polls/' + item.id + '/' + item.questionText.split(' ').join('-')}}">
                                        {{item.questionText}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="liked">
                        <div>&nbsp;</div>
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <a class="navbar-brand">
                                        {{User.currentLiked.totalLiked + ' Liked'}}
                                    </a>
                                </div>
                            </div>
                        </nav>
                        <div>
                            <ul class="list-group">
                                <li class="list-group-item" data-ng-repeat="item in User.currentLiked.list">
                                    <a data-ng-href="{{'polls/' + item.id + '/' + item.questionText.split(' ').join('-')}}">
                                        {{item.questionText}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="disliked">
                        <div>&nbsp;</div>
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <a class="navbar-brand">
                                        {{User.currentDisliked.totalDisliked + ' Disliked'}}
                                    </a>
                                </div>
                            </div>
                        </nav>
                        <div>
                            <ul class="list-group">
                                <li class="list-group-item" data-ng-repeat="item in User.currentDisliked.list">
                                    <a data-ng-href="{{'polls/' + item.id + '/' + item.questionText.split(' ').join('-')}}">
                                        {{item.questionText}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>